# Environment variables
.env
# Maven
/target/
**/target/

# IntelliJ IDEA
*.iml
.idea/
.out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class

# Other
*.swp
*.swo
