name: Weekly Room Roster

on:
  workflow_dispatch:
  schedule:
    - cron: "0 17 * * 0"

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull and Run Docker Image
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          docker run --rm \
            -e DISCORD_WEBHOOK_URL="${DISCORD_WEBHOOK_URL}" \
            -v room-ruster-state:/app/state \
            ghcr.io/${{ github.repository_owner }}/room-ruster:latest
